@font-face {
  font-family: 'Sochi2014-Light';
  src: url('../fonts/Sochi2014-Light_gdi.eot');
  src: url('../fonts/Sochi2014-Light_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Sochi2014-Light_gdi.woff') format('woff'), url('../fonts/Sochi2014-Light_gdi.ttf') format('truetype'), url('../fonts/Sochi2014-Light_gdi.svg#Sochi2014-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2122;
}
@font-face {
  font-family: 'Sochi2014-Medium';
  src: url('../fonts/Sochi2014-Medium_gdi.eot');
  src: url('../fonts/Sochi2014-Medium_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Sochi2014-Medium_gdi.woff') format('woff'), url('../fonts/Sochi2014-Medium_gdi.ttf') format('truetype'), url('../fonts/Sochi2014-Medium_gdi.svg#Sochi2014-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2122;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #ffffff;
  font-family: 'Sochi2014-Light', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -35px;
}
#wrapper:after {
  content: "";
  display: block;
  height: 35px;
}
.col-md-5-1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 45.5000%;
}
.col-md-3-5 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 27.25%;
}
.scroll-wrapper {
  overflow: auto;
  padding-right: 20px;
}
.scroll-wrapper .jspVerticalBar {
  background: none;
  border-radius: 3px;
  width: 5px;
}
.scroll-wrapper .jspVerticalBar .jspTrack {
  border-radius: 3px;
}
.scroll-wrapper .jspVerticalBar .jspTrack .jspDrag {
  background: #be392a;
  border-radius: 3px;
}
/* Gradient Mixin */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #74706f;
}
.content h3 {
  color: #be392a;
  font-size: 24px;
  line-height: 28px;
  margin: -3px 0 0;
  padding: 0;
}
.content h4 {
  color: #be392a;
  font-size: 24px;
  line-height: 28px;
  margin: -3px 0 0;
  padding: 0 0 18px;
}
.content h5 {
  color: #be392a;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0 0 2px;
}
.content h6 {
  color: #be392a;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 30px 0 20px;
}
.content p {
  color: #74706f;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 20px;
}
.content p.docs {
  padding: 0 0 15px;
}
.content ul,
.content ol,
.content dl {
  color: #74706f;
  font-size: 18px;
  line-height: 22px;
}
.content ul li {
  background: url("../img/dot.png") left 7px no-repeat;
  list-style: none;
  padding: 0 0 2px 15px;
}
.content .align-left {
  float: left;
  margin: 0 15px 10px 0;
}
.content .align-right {
  float: right;
  margin: 0 0 10px 15px;
}
.content img {
  max-width: 100%;
}
.content .docs {
  position: relative;
}
.content .docs .ico {
  color: #74706f;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.6px;
  margin: 0;
  padding: 2px 0 16px 25px;
  position: relative;
}
.content .docs .ico.doc {
  background: url("../img/doc.png") left 2px no-repeat;
}
.content .docs .ico.xls {
  background: url("../img/xls.png") left top no-repeat;
}
.content .docs .ico.pdf {
  background: url("../img/pdf.png") left top no-repeat;
}
.content .docs .ico span {
  padding-left: 10px;
}
.content .docs .ico span:nth-child(1) {
  padding-left: 0;
}
.content .docs .ico:hover {
  color: #be392a;
}
.content .docs .ico:hover a {
  display: block;
}
.content .docs .ico a {
  bottom: -2px;
  color: #c4c4be;
  display: none;
  line-height: 18px;
  padding: 0 0 0 24px;
  font-style: italic;
  position: absolute;
  text-decoration: none;
}
.content .docs .ico a.download {
  background: url("../img/download.png") left center no-repeat;
  left: 26px;
}
.content .docs .ico a.print {
  background: url("../img/print.png") left center no-repeat;
  left: 115px;
}
.content .docs .ico a:hover {
  color: #be392a;
}
header {
  height: 140px;
}
header .main-menu {
  font-family: 'Sochi2014-Medium';
  float: left;
  margin: 0;
  padding: 35px 0 10px;
  width: 100%;
}
header .main-menu li {
  float: left;
  list-style: none;
  text-align: center;
  width: 16.9%;
}
header .main-menu li.active a {
  color: #be392a;
}
header .main-menu li.home {
  background: none;
  text-align: left;
  width: 13%;
}
header .main-menu li.home a {
  padding-top: 0;
}
header .main-menu li.about {
  background: url("../img/menu-about.png") center top no-repeat;
}
header .main-menu li.about:hover,
header .main-menu li.about.active {
  background-position: center -154px;
}
header .main-menu li.work {
  background: url("../img/menu-work.png") center top no-repeat;
}
header .main-menu li.work:hover,
header .main-menu li.work.active {
  background-position: center -154px;
}
header .main-menu li.news {
  background: url("../img/menu-news.png") center top no-repeat;
}
header .main-menu li.news:hover,
header .main-menu li.news.active {
  background-position: center -154px;
}
header .main-menu li.gallery {
  background: url("../img/menu-gallery.png") center top no-repeat;
}
header .main-menu li.gallery:hover,
header .main-menu li.gallery.active {
  background-position: center -154px;
}
header .main-menu li.bank {
  background: url("../img/menu-bank.png") center top no-repeat;
}
header .main-menu li.bank:hover,
header .main-menu li.bank.active {
  background-position: center -154px;
}
header .main-menu li a {
  color: #74706f;
  display: block;
  font-size: 22px;
  padding: 60px 0 0;
}
header .main-menu li a:hover {
  color: #be392a;
  text-decoration: none;
}
header .search {
  background: url("../img/search.png") left bottom no-repeat;
  border-bottom: 1px #9b9b96 solid;
  float: left;
  padding: 92px 0 0;
  width: 40%;
}
header .search button {
  background: none;
  border: 0;
  float: left;
  width: 17%;
}
header .search input {
  background: none;
  border: none;
  color: #74706f;
  font-size: 18px;
  float: left;
  height: 26px;
  width: 83%;
}
header .search input::-webkit-input-placeholder {
  font-style: italic;
}
header .search input:-moz-placeholder {
  font-style: italic;
}
header .search input::-moz-placeholder {
  font-style: italic;
}
header .search input:-ms-input-placeholder {
  font-style: italic;
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  header .search input {
    font-size: 14px;
  }
}
header .account {
  background: url("../img/flag.png") 10% 50px no-repeat;
  float: left;
  padding: 55px 0 0 25%;
  width: 60%;
}
header .account p {
  color: #74706f;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 5px;
}
header .account p.title {
  color: #be392a;
  padding-bottom: 20px;
}
header .account p.dater {
  font-size: 20px;
  padding-bottom: 0;
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  header .account p.dater {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  header .account p {
    font-size: 18px;
  }
}
footer {
  background: url("../img/footer.gif") left top repeat-x;
  height: 35px;
  text-align: right;
}
.sidebar.left ul {
  margin: 0;
  padding: 0;
}
.sidebar.left ul li {
  background: #c4c4be;
  border-radius: 5px;
  list-style: none;
  margin: 0 0 8px;
  padding: 0;
}
.sidebar.left ul li:hover {
  background-color: #be392a;
}
.sidebar.left ul li.mail a {
  background-position: 14px 15px;
}
.sidebar.left ul li.history a {
  background-position: 14px -71px;
}
.sidebar.left ul li.book a {
  background-position: 14px -156px;
}
.sidebar.left ul li.company a {
  background-position: 14px -243px;
}
.sidebar.left ul li.docs a {
  background-position: 6px -381px;
}
.sidebar.left ul li.study a {
  background-position: 8px -464px;
}
.sidebar.left ul li.comp a {
  background-position: 12px -551px;
}
.sidebar.left ul li.self a {
  background-position: 12px -639px;
}
.sidebar.left ul li.social a {
  background-position: 12px -724px;
}
.sidebar.left ul li.active {
  background-color: #be392a;
}
.sidebar.left ul li a {
  background: url("../img/left-nav.png") 0 0 no-repeat;
  color: #ffffff;
  display: block;
  font-size: 24px;
  line-height: 29px;
  min-height: 78px;
  padding: 14px 14px 14px 88px;
}
.sidebar.left ul li a:hover {
  text-decoration: none;
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  .sidebar.left ul li a {
    font-size: 20px;
    line-height: 24px;
  }
}
.pager {
  color: #c4c4be;
  font-size: 18px;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-align: center;
}
.pager ul {
  margin: 0;
  padding: 0;
}
.pager ul li {
  background: none;
  display: inline-block;
  line-height: 18px;
  padding: 0 3px;
}
.pager ul li.current {
  font-size: 22px;
  font-weight: bold;
}
.pager ul li a {
  color: #c4c4be;
  border: none;
  padding: 0;
  text-decoration: none;
}
.pager ul li a:hover {
  background: none;
  text-decoration: none;
}
.pager ul li span {
  display: block;
  border: none;
  padding: 0;
}
.pager ul li span:hover {
  background: none;
}
.widget .head {
  background: #be392a;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-size: 22px;
  line-height: 46px;
  padding: 0 8px 0 2px;
}
.widget .head .date {
  float: right;
}
.widget .head .title {
  display: inline-block;
  padding: 0 0 0 38px;
}
.widget .head .title.best {
  background: url("../img/best-ico.png") 2px 1px no-repeat;
}
.widget .head .title.seminar {
  background: url("../img/seminar-ico.png") 1px 5px no-repeat;
}
.widget .body {
  background-color: #f6f8f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f8f9), to(#c3c8ce));
  background: -webkit-linear-gradient(top, #f6f8f9, #c3c8ce);
  background: -moz-linear-gradient(top, #f6f8f9, #c3c8ce);
  background: -ms-linear-gradient(top, #f6f8f9, #c3c8ce);
  background: -o-linear-gradient(top, #f6f8f9, #c3c8ce);
  border-radius: 0 0 5px 5px;
  min-height: 145px;
  height: 28px;
  padding: 7px;
  position: relative;
}
.widget .body.double .col:last-child {
  padding-bottom: 50px;
}
.widget .body .col {
  float: left;
  width: 50%;
}
.widget .body .col:last-child {
  padding-left: 2%;
  padding-bottom: 25px;
}
.widget .body p {
  color: #ffffff;
}
.widget .body .btn {
  background: #be392a;
  bottom: 7px;
  color: #ffffff;
  display: block;
  font-size: 18px;
  height: 28px;
  line-height: 22px;
  padding: 0;
  position: absolute;
  right: 7px;
  width: 46%;
}
.widget .body .btn:hover {
  opacity: 0.8;
}
.widget .body .btn:nth-child(2) {
  bottom: 45px;
}
