@font-face {
  font-family: 'Sochi2014-Light';
  src: url('../fonts/Sochi2014-Light_gdi.eot');
  src: url('../fonts/Sochi2014-Light_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Sochi2014-Light_gdi.woff') format('woff'), url('../fonts/Sochi2014-Light_gdi.ttf') format('truetype'), url('../fonts/Sochi2014-Light_gdi.svg#Sochi2014-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2122;
}
@font-face {
  font-family: 'Sochi2014-Medium';
  src: url('../fonts/Sochi2014-Medium_gdi.eot');
  src: url('../fonts/Sochi2014-Medium_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Sochi2014-Medium_gdi.woff') format('woff'), url('../fonts/Sochi2014-Medium_gdi.ttf') format('truetype'), url('../fonts/Sochi2014-Medium_gdi.svg#Sochi2014-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2122;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #ffffff;
  font-family: 'Sochi2014-Light', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -35px;
}
#wrapper:after {
  content: "";
  display: block;
  height: 35px;
}
.col-md-3-5 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 29.1665%;
}
.scroll-wrapper {
  overflow: auto;
  padding-right: 20px;
}
.scroll-wrapper .jspVerticalBar {
  background: none;
  border-radius: 3px;
  width: 5px;
}
.scroll-wrapper .jspVerticalBar .jspTrack {
  border-radius: 3px;
}
.scroll-wrapper .jspVerticalBar .jspTrack .jspDrag {
  background: #be392a;
  border-radius: 3px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #74706f;
}
.content p {
  color: #74706f;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 20px;
}
.content ul,
.content ol,
.content dl {
  color: #74706f;
  font-size: 18px;
  line-height: 22px;
}
.content .align-left {
  float: left;
  margin: 0 15px 10px 0;
}
.content .align-right {
  float: right;
  margin: 0 0 10px 15px;
}
.content img {
  max-width: 100%;
}
header {
  height: 140px;
}
header .main-menu {
  font-family: 'Sochi2014-Medium';
  float: left;
  margin: 0;
  padding: 35px 0 10px;
  width: 100%;
}
header .main-menu li {
  float: left;
  list-style: none;
  text-align: center;
  width: 16.9%;
}
header .main-menu li.active a {
  color: #be392a;
}
header .main-menu li.home {
  background: none;
  text-align: left;
  width: 13%;
}
header .main-menu li.home a {
  padding-top: 0;
}
header .main-menu li.about {
  background: url("../img/menu-about.png") center top no-repeat;
}
header .main-menu li.about:hover,
header .main-menu li.about.active {
  background-position: center -154px;
}
header .main-menu li.work {
  background: url("../img/menu-work.png") center top no-repeat;
}
header .main-menu li.work:hover,
header .main-menu li.work.active {
  background-position: center -154px;
}
header .main-menu li.news {
  background: url("../img/menu-news.png") center top no-repeat;
}
header .main-menu li.news:hover,
header .main-menu li.news.active {
  background-position: center -154px;
}
header .main-menu li.gallery {
  background: url("../img/menu-gallery.png") center top no-repeat;
}
header .main-menu li.gallery:hover,
header .main-menu li.gallery.active {
  background-position: center -154px;
}
header .main-menu li.bank {
  background: url("../img/menu-bank.png") center top no-repeat;
}
header .main-menu li.bank:hover,
header .main-menu li.bank.active {
  background-position: center -154px;
}
header .main-menu li a {
  color: #74706f;
  display: block;
  font-size: 22px;
  padding: 60px 0 0;
}
header .main-menu li a:hover {
  color: #be392a;
  text-decoration: none;
}
header .search {
  background: url("../img/search.png") left bottom no-repeat;
  border-bottom: 1px #9b9b96 solid;
  float: left;
  padding: 92px 0 0;
  width: 40%;
}
header .search button {
  background: none;
  border: 0;
  float: left;
  width: 17%;
}
header .search input {
  background: none;
  border: none;
  color: #74706f;
  font-size: 18px;
  float: left;
  height: 26px;
  width: 83%;
}
header .search input::-webkit-input-placeholder {
  font-style: italic;
}
header .search input:-moz-placeholder {
  font-style: italic;
}
header .search input::-moz-placeholder {
  font-style: italic;
}
header .search input:-ms-input-placeholder {
  font-style: italic;
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  header .search input {
    font-size: 14px;
  }
}
header .account {
  background: url("../img/flag.png") 10% 50px no-repeat;
  float: left;
  padding: 55px 0 0 25%;
  width: 60%;
}
header .account p {
  color: #74706f;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 5px;
}
header .account p.title {
  color: #be392a;
  padding-bottom: 20px;
}
header .account p.dater {
  font-size: 20px;
  padding-bottom: 0;
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  header .account p.dater {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  header .account p {
    font-size: 18px;
  }
}
footer {
  background: url("../img/footer.gif") left top repeat-x;
  height: 35px;
  text-align: right;
}
.sidebar.left ul {
  margin: 0;
  padding: 0;
}
.sidebar.left ul li {
  background: #c4c4be;
  border-radius: 5px;
  list-style: none;
  margin: 0 0 8px;
  padding: 0;
}
.sidebar.left ul li:hover {
  background-color: #be392a;
}
.sidebar.left ul li.mail a {
  background-position: 14px 15px;
}
.sidebar.left ul li.history a {
  background-position: 14px -71px;
}
.sidebar.left ul li.book a {
  background-position: 14px -156px;
}
.sidebar.left ul li.company a {
  background-position: 14px -243px;
}
.sidebar.left ul li.active {
  background-color: #be392a;
}
.sidebar.left ul li a {
  background: url("../img/left-nav.png") 0 0 no-repeat;
  color: #ffffff;
  display: block;
  font-size: 24px;
  line-height: 29px;
  min-height: 78px;
  padding: 14px 14px 14px 88px;
}
.sidebar.left ul li a:hover {
  text-decoration: none;
}
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  .sidebar.left ul li a {
    font-size: 20px;
    line-height: 24px;
  }
}
