.content {
  h1, h2, h3, h4, h5, h6 {
    color: @text-color;
  }
  h3 {
    color: @red;
    font-size: 24px;
    line-height: 28px;
    margin: -3px 0 0;
    padding: 0;
    .responsive('tablet', {
      font-size: 18px;
      line-height: 24px;
    });
  }
  h4 {
    color: @red;
    font-size: 24px;
    line-height: 28px;
    margin: -3px 0 0;
    padding: 0 0 18px;
    &.news-title {
      color: @text-color;
      padding: 0 0 5px;
    }
    .responsive('xxxlarge', {
      font-size: 20px;
      line-height: 22px;
    });
    .responsive('xxlarge', {
      font-size: 19px;
      line-height: 22px;
    });
    .responsive('xlarge', {
      font-size: 18px;
      line-height: 22px;
    });
    .responsive('large', {
      font-size: 15px;
      line-height: 22px;
    });
    .responsive('tablet', {
      font-size: 14px;
      line-height: 22px;
    });
  }
  h5 {
    color: @red;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 2px;
    .responsive('tablet', {
      font-size: 15px;
      line-height: 20px;
    });
  }
  h6 {
    color: @red;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 30px 0 20px;
    .responsive('tablet', {
      font-size: 14px;
      line-height: 18px;
    });
  }
  p {
    color: @text-color;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 20px;
    &.docs {
      padding: 0 0 15px;
    }
    &.tags {
      a {
        color: @red;
        font-style: italic;
        padding-left: 5px;
      }
    }
    .responsive('tablet', {
      font-size: 14px;
      line-height: 18px;
    });
  }
  a {
    color: @red;
    &:hover {
      text-decoration: underline;
    }
  }
  ul, ol, dl {
    color: @text-color;
    font-size: 18px;
    line-height: 22px;
    .responsive('tablet', {
      font-size: 14px;
      line-height: 18px;
    });
  }
  ul {
    li {
      background: url("../img/dot.png") left 7px no-repeat;
      list-style: none;
      padding: 0 0 2px 15px;
    }
  }
  .align-left {
    float: left;
    margin: 0 15px 10px 0;
    .responsive('small', {
      margin: 0;
      width: 100%;
    });
  }
  .align-right {
    float: right;
    margin: 0 0 10px 15px;
    .responsive('small', {
      margin: 0;
      width: 100%;
    });
  }
  img {
    max-width: 100%;
  }
  .docs {
    position: relative;
    .ico {
      color: @text-color;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.7px;
      margin: 0;
      padding: 2px 0 16px 25px;
      position: relative;
      &.doc {
        background: url("../img/doc.png") left 2px no-repeat;
      }
      &.xls {
        background: url("../img/xls.png") left top no-repeat;
      }
      &.pdf {
        background: url("../img/pdf.png") left top no-repeat;
      }
      span {
        padding-left: 10px;
        &:nth-child(1) {
          padding-left: 0;
        }
      }
      a {
        bottom: -2px;
        color: @sidebar-grey;
        display: none;
        line-height: 18px;
        padding: 0 0 0 24px;
        font-style: italic;
        position: absolute;
        text-decoration: none;
        &.download {
          background: url("../img/download.png") left center no-repeat;
          left: 26px;
        }
        &.print {
          background: url("../img/print.png") left center no-repeat;
          left: 115px;
        }
        &:hover {
          color: @red;
        }
      }
    }
    &:hover {
      color: @red;
      a {
        display: block;
      }
    }
  }
  /* Книги */
  .book {
    .details {
      padding-left: 280px;
    }
  }
  /* Социяальный пакет */
  .social-item {
    background: @red;
    .pic {
      float: left;
      width: 75%;
    }
    .link {
      color: @white;
      font-size: 24px;
      float: left;
      text-transform: uppercase;
      text-align: center;
      width: 25%;
      .responsive('tablet', {
        font-size: 14px;
      });
      img {
        display: block;
        margin: 2% auto 0;
        width: 43%;
        .responsive('xxlarge', {
          font-size: 40%;
        });
        .responsive('xlarge', {
          font-size: 35%;
        });
        .responsive('large', {
          font-size: 35%;
        });
        .responsive('tablet', {
          font-size: 30%;
        });
      }
      a {
        color: @white;
        display: block;
        padding: 10px 0 0;
      }
    }
  }
}