@white: #fff;
@white_dark: #f3f3f3;
@black: #303030;
@grey: #aaa;
@grey_shadow: #d7d7d7;
@grey_menu: #74706f;
@grey_light: #c4c4be;
@green: #9cbf3e;
@blue: #2799c9;
@blue_light: #71bbda;
@blue_dark: #3c5569;
@orange: #ef8742;
@red: #be392a;
@text-color: #74706f;
@sidebar-grey: #c4c4be;