header {
  height: 125px;
  position: relative;
  z-index: 5;
  .responsive('xlarge', {
    height: 140px;
  });
  .responsive('tablet', {
    height: 105px;
  });
  .responsive('tab', {
    height: auto;
  });
  .responsive('medium', {
    height: auto;
  });
  .responsive('small', {
    height: auto;
  });
  .main-menu {
    font-family: 'Sochi2014-Medium';
    float: left;
    margin: 0;
    padding: 30px 0 10px;
    position: relative;
    width: 100%;
    li {
      float: left;
      list-style: none;
      text-align: center;
      position: relative;
      width: 16.9%;
      .responsive('small', {
        float: none;
        width: 100%;
      });
      &.active {
        a {
          color: @red;
        }
      }
      &.home {
        background: none;
        text-align: left;
        width: 13%;
        .responsive('small', {
          text-align: center;
          width: 100%;
        });
        a {
          background: url("../img/logo.png") left bottom no-repeat;
          background-size: auto 100%;
          position: relative;
          text-indent: -10000px;
          top: -4px;
        }
        img {
          max-width: 62%;
          .responsive('xxxlarge', {
            max-width: 74%;
          });
          .responsive('xxlarge', {
            max-width: 83%;
          });
          .responsive('xlarge', {
            max-width: 90%;
          });
          .responsive('tablet', {
            max-width: 100%;
          });
        }
      }
      &.about {
        background: url("../img/menu-about.png") center top no-repeat;
        &:hover, &.active {
          background-position: center -154px;
        }
      }
      &.work {
        background: url("../img/menu-work.png") center top no-repeat;
        &:hover, &.active {
          background-position: center -154px;
        }
      }
      &.news {
        background: url("../img/menu-news.png") center top no-repeat;
        &:hover, &.active {
          background-position: center -154px;
        }
      }
      &.gallery {
        background: url("../img/menu-gallery.png") center top no-repeat;
        &:hover, &.active {
          background-position: center -154px;
        }
      }
      &.bank {
        background: url("../img/menu-bank.png") center top no-repeat;
        &:hover, &.active {
          background-position: center -154px;
        }
      }
      &:hover {
        a {
          color: @red;
        }
        ul {
          li {
            a {
              color: @text-color;
            }
          }
        }
      }
      a {
        color: @grey_menu;
        display: block;
        font-size: 18px;
        padding: 50px 0 0;
        text-transform: uppercase;
        &:hover {
          color: @red;
          text-decoration: none;
        }
        .responsive('xxxlarge', {
          font-size: 21px;
        });
        .responsive('xxlarge', {
          font-size: 20px;
        });
        .responsive('large', {
          font-size: 16px;
        });
        .responsive('tablet', {
          font-size: 16px;
          padding: 52px 0 0;
        });
        .responsive('medium', {
          font-size: 12px;
          padding: 52px 0 0;
        });
      }
      &:hover {
        ul {
          display: block;
        }
      }
      ul {
        background: #f8f8f8;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: none;
        padding: 0 10px;
        position: absolute;
        width: 375px;
        li {
          border-bottom: 1px #e8e8e5 solid;
          float: none;
          text-align: left;
          width: 100%;
          a {
            background: none;
            color: @text-color;
            font-size: 18px;
            line-height: 42px;
            padding: 0;
            text-transform: uppercase;
            &:hover {
              color: @red;
            }
          }
        }
      }
    }
  }
  .search {
    background: url("../img/search.png") left bottom no-repeat;
    border-bottom: 1px #9b9b96 solid;
    float: left;
    padding: 72px 0 0;
    width: 40%;
    .responsive('xxxlarge', {

    });
    .responsive('xxlarge', {

    });
    .responsive('xlarge', {
      padding: 10px 0 0;
      width: 100%;
    });
    .responsive('tablet', {
      padding: 10px 0 0;
      width: 100%;
    });
    .responsive('tab', {
      padding: 10px 0 0;
      width: 100%;
    });
    .responsive('small', {
      padding: 0;
      width: 100%;
    });
    button {
      background: none;
      border: 0;
      float: left;
      width: 17%;
    }
    input {
      background: none;
      border: none;
      color: @grey_menu;
      font-size: 18px;
      float: left;
      height: 26px;
      width: 83%;
      &::-webkit-input-placeholder {
        font-style: italic;
      }
      &:-moz-placeholder {
        font-style: italic;
      }
      &::-moz-placeholder {
        font-style: italic;
      }
      &:-ms-input-placeholder {
        font-style: italic;
      }
      .responsive('xxxlarge', {
        font-size: 14px;
      });
      .responsive('xxlarge', {
        font-size: 14px;
      });
      .responsive('xlarge', {
        font-size: 14px;
      });
      .responsive('large', {
        font-size: 14px;
      });
      .responsive('tablet', {
        font-size: 14px;
      });
    }
  }
  .account {
    background: url("../img/flag.png") 10% 32px no-repeat;
    float: left;
    padding: 35px 0 0 22%;
    width: 60%;
    .responsive('xxxlarge', {
      padding: 35px 0 0 25%;
    });
    .responsive('xxlarge', {
      padding: 35px 0 0 25%;
    });
    .responsive('xlarge', {
      background: none;
      padding: 10px 0 0;
      width: 100%;
    });
    .responsive('tablet', {
      background: none;
      padding: 10px 0;
      width: 100%;
    });
    .responsive('tab', {
      padding: 10px 0;
      width: 100%;
    });
    .responsive('small', {
      background: none;
      padding: 10px 0;
      width: 100%;
    });
    p {
      color: @grey_menu;
      font-size: 24px;
      line-height: 24px;
      margin: 0;
      padding: 0 0 5px;
      &.title {
        color: @red;
        padding-bottom: 20px;
        .responsive('xxxlarge', {
          font-size: 20px;
        });
        .responsive('xxlarge', {
          font-size: 20px;
        });
        .responsive('xlarge', {
          font-size: 20px;
          padding-bottom: 10px;
        });
        .responsive('large', {
          font-size: 20px;
        });
        .responsive('tablet', {
          font-size: 20px;
          padding-bottom: 10px;
        });
      }
      &.dater {
        font-size: 20px;
        padding-bottom: 0;
        .responsive('xxxlarge', {
          font-size: 14px;
        });
        .responsive('xxlarge', {
          font-size: 14px;
        });
        .responsive('xlarge', {
          font-size: 14px;
        });
        .responsive('large', {
          font-size: 14px;
        });
        .responsive('tablet', {
          font-size: 20px;
        });
      }
      .responsive('xxxlarge', {
        font-size: 18px;
      });
    }
  }
}