.modal-dialog {
  .modal-header {
    border-bottom: none;
    padding: 15px 15px 5px;
    h4 {
      color: @red;
      font-size: 24px;
    }
    .close {
      opacity: 0.4;
    }
  }
  .modal-body {
    padding: 5px 15px 10px;
    h6 {
      color: @text-color;
      font-size: 24px;
      margin: 0;
      padding: 0 0 25px;
    }
    p {
      color: @text-color;
      font-size: 18px;
      margin: 0;
      padding: 0 0 10px;
    }
    a {
      color: @sidebar-grey;
      font-style: italic;
      &:hover {
        color: @red;
        text-decoration: none;
      }
    }
    dl {
      color: @text-color;
      font-size: 24px;
      margin: 0;
      padding: 0 0 25px;
      dt {
        display: inline;
      }
      dd {
        display: inline;
      }
    }
  }
  .modal-footer {
    border-top: 0;
    .btn {
      height: 36px;
      width: 46%;
      &:hover {
        background: @red;
        opacity: 0.8;
      }
      &.grey {
        background: @calendar-border;
        width: 52%;
      }
    }
  }
}