.widget {
  .head {
    background: @red;
    border-radius: 5px 5px 0 0;
    color: @white;
    font-size: 22px;
    line-height: 46px;
    padding: 0 8px 0 2px;
    .responsive('small', {
      font-size: 20px;
      line-height: 22px;
    });
    .responsive('tablet', {
      font-size: 20px;
      line-height: 22px;
    });
    .date {
      float: right;
    }
    .title {
      display: inline-block;
      padding: 0 0 0 38px;
      .responsive('small', {
        min-height: 44px;
      });
      .responsive('tablet', {
        min-height: 44px;
      });
      &.best {
        background: url("../img/best-ico.png") 2px 1px no-repeat;
      }
      &.seminar {
        background: url("../img/seminar-ico.png") 1px 5px no-repeat;
      }
      &.birth {
        background: url("../img/birth.png") 1px 5px no-repeat;
        padding: 13px 0 5px 82px;
        .responsive('tablet', {
          padding: 13px 0 5px 62px;
        });
      }
    }
  }
  .body {
    .gradient();
    border-radius: 0 0 5px 5px;
    min-height: 145px;
    padding: 7px;
    position: relative;
    &.double {
      .col {
        &:last-child {
          padding-bottom: 50px;
        }
      }
    }
    .col {
      float: left;
      width: 50%;
      &:last-child {
        padding-left: 2%;
        padding-bottom: 25px;
      }
    }
    p {
      color: @white;
    }
    .btn {
      background: @red;
      bottom: 7px;
      color: @white;
      display: block;
      font-size: 16px;
      height: 28px;
      line-height: 22px;
      padding: 0;
      position: absolute;
      right: 7px;
      width: 50%;
      .responsive('xxxlarge', {
        font-size: 14px;
        height: 23px;
        width: 50%;
      });
      .responsive('xxlarge', {
        font-size: 12px;
        height: 23px;
        width: 50%;
      });
      .responsive('xlarge', {
        font-size: 12px;
        height: 23px;
        width: 50%;
      });
      .responsive('large', {
        font-size: 12px;
        height: 23px;
        width: 55%;
      });
      .responsive('tablet', {
        font-size: 11px;
        height: 23px;
        width: 60%;
      });
      .responsive('small', {
        font-size: 11px;
        height: 23px;
      });
      &:hover {
        opacity: 0.8;
      }
      &:nth-child(2) {
        bottom: 45px;
      }
    }
  }
  &.slider {
    border: 3px @calendar-grey solid;
    border-radius: 18px;
    margin: 14px 0 -5px;
    .gradient(#ffffff, #d4d7da);
    .head {
      border-radius: 15px 15px 0 0;
      font-size: 24px;
      padding: 0 8px 0 18px;
      .responsive('tablet', {
        font-size: 20px;
        line-height: 22px;
      });
    }
    .body {
      text-align: center;
      h4 {
        color: @text-color;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
        padding: 0;
        .responsive('tablet', {
          font-size: 20px;
          line-height: 22px;
        });
      }
      h5 {
        color: @text-color;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        .responsive('tablet', {
          font-size: 14px;
          line-height: 22px;
        });
      }
      p {
        color: @text-color;
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        padding: 0;
        .responsive('tablet', {
          font-size: 12px;
          line-height: 14px;
        });
      }
      .btn {
        font-size: 20px;
        height: 32px;
        left: 0;
        line-height: 28px;
        margin: 10px auto;
        position: relative;
        top: 0;
        .responsive('tablet', {
          font-size: 14px;
          line-height: 22px;
          height: 25px;
        });
      }
      .carousel-control {
        background: none;
      }
      .glyphicon {
        color: @text-color;
      }
    }
  }
}
.box {
  border-radius: 5px;
  float: left;
  width: 50%;
  .body {
    border-radius: 5px 5px 0 0;
    img {
      border-radius: 5px 5px 0 0;
      display: block;
      width: 100%;
    }
  }
  .foot {
    background: @red;
    border-radius: 0 0 5px 5px;
    line-height: 72px;
    text-align: center;
    a {
      color: @white;
      font-size: 24px;
      display: inline-block;
      padding: 0 0 0 110px;
      text-transform: uppercase;
      &.books {
        background: url("../img/box-books.png") left center no-repeat;
      }
      &.articles {
        background: url("../img/box-articles.png") left center no-repeat;
      }
      &.video {
        background: url("../img/box-video.png") left center no-repeat;
      }
      &.music {
        background: url("../img/box-music.png") left center no-repeat;
      }
    }
  }
}
.content {
  .actions {
    float: right;
    font-size: 18px;
    margin: 0;
    padding: 0;
    li {
      background: none;
      display: inline-block;
      margin: 0 0 0 15px;
      padding: 0;
      a {
        color: @sidebar-grey;
        display: block;
        line-height: 28px;
        padding: 0 0 0 30px;
        &.like {
          background: url("../img/action-like.gif") left top no-repeat;
          &:hover {
            background: url("../img/action-like-hover.gif") left top no-repeat;
          }
        }
        &.dislike {
          background: url("../img/action-dislike.gif") left 0 no-repeat;
          &:hover {
            background: url("../img/action-dislike-hover.gif") left top no-repeat;
          }
        }
        &.comment {
          background: url("../img/action-comment.gif") left top no-repeat;
          &:hover {
            background: url("../img/action-comment-hover.gif") left 2px no-repeat;
          }
        }
        &:hover {
          color: @red;
          text-decoration: none;
        }
        &.disabled {
          &.like {
            &:hover {
              background: url("../img/action-like.gif") left top no-repeat;
            }
          }
          &.dislike {
            &:hover {
              background: url("../img/action-dislike.gif") left top no-repeat;
            }
          }
          &.comment {
            &:hover {
              background: url("../img/action-comment.gif") left top no-repeat;
            }
          }
          &:hover {
            color: @sidebar-grey;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.content {
  .add-comment {
    .comments-list {
      height: 260px;
      overflow: auto;
      ul {
        color: @sidebar-grey;
        font-size: 18px;
        margin: 0;
        padding: 0;
        li {
          background: none;
          margin: 0;
          padding: 0;
          p {
            color: @sidebar-grey;
            padding: 0 0 10px;
          }
          .date {
            float: none;
          }
          .author {
            float: right;
          }
          .time {
            padding: 0 0 0 20px;
          }
        }
      }
    }
    .add-comment {
      border: 3px @sidebar-grey solid;
      border-radius: 5px;
      margin: 10px 0;
      padding: 8px;
      p {
        color: @sidebar-grey;
        padding: 0 0 10px;
      }
      p.author {
        text-align: right;
      }
      .time {
        padding: 0 0 0 10px;
      }
      .btn {
        float: right;
      }
      textarea {
        color: @sidebar-grey;
        font-size: 18px;
        background: none;
        border: none;
        width: 100%;
        &::-webkit-input-placeholder {
          font-style: italic;
        }
        &:-moz-placeholder {
          font-style: italic;
        }
        &::-moz-placeholder {
          font-style: italic;
        }
        &:-ms-input-placeholder {
          font-style: italic;
        }
      }
    }
  }
}
